
:root {
    --vermelho: #950101;
    --preto: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Staatliches', cursive;
    color: white;
}


/* navbar */

#navbar {
    width: 100%;
    background-color: var(--preto);
}

#navbar .brand-logo {
    color: var(--vermelho);
    font-family: 'Arial';
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 1.25rem;
}

#navbar .navbar--wrapper {
    position: relative;
    width: 100%;
}

#navbar ul{
    list-style: none;
    display: flex;
}

#navbar li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.4s;
}


/* mainMovie */

.mainMovie {
    font-size: 1rem;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url('../img/capa-batman.jpg');

    height: 37.5rem;
    background-size: cover; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

.mainMovie__container {
    width: 70%;
    margin-left: 2.5rem;
}

.mainMovie__title {
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
    margin-top: 18%;
}

.mainMovie__description {
    width: 44%;
    margin-bottom: 2.5rem;
    margin-top: 0.313rem;
}

.mainMovie__button .btn {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    margin-right: 0.938rem;
    font-size: 0.875rem;

    cursor: pointer;
    transition: .4s ease all;
}

.mainMovie__button .btn:hover {
    background-color: white;
    color: #000000;
}

.mainMovie__button .btn i {
    font-size: 0.938rem;
    margin-right: 0.5rem;
}


/* carousel */

.carouselNews h2, .carouselOnHigh h2 {
    font-size: 1.563rem;
    margin: 0.938rem 0 0.625rem 2.5rem;

}

.box__movie {
    width: 100%;
    height: 100%;
    display: block;
}


/* footer */

footer {
    position: absolute;
    width: 100%;
    height: 6.25rem;    
    margin-top: 2rem;

    text-align: center;
    line-height: 8.25rem;
}